<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/header') %>

<main>
  <%
  for (photo of gallery){
  %>
  <div class="card">
    <a href="./gallery/<%= photo.id %>">
      <figure>
        <img src="images/sm/<%= photo.fileName %>" alt="<%= photo.title %>">
        <figcaption>"<%= photo.title %>" photographer - <%= photo.attribution.credit %></figcaption>
      </figure>
    </a>
  </div>
  <%
  }
  %>
</main>

<%- include('partials/footer') %>

</body>
</html>